@import url(https://fonts.googleapis.com/css?family=Bitter:700|Open+Sans:300,400,700|Source+Sans+Pro:200,400,700);

/*CYAN reg  - #00DCFF
CYAN hvr    - #00B8D4
MGNTA reg   - #F06292 
MGNTA hvr   - #E91E63
NAV MENU CLR  - rgba(65,65,65,.95)
NAV GEN TEXT  - rgba(255,255,255,.7)
NAV GEN CLR   - rgba(30,30,30,.95)*/

html,
body {
    width: 100%;
  height: 100%;
  font-size: 20px;
}

body {
  font-family: 'Source Sans Pro','Helvetica Neue',Arial,sans-serif;
  font-weight: 400;
  background-color: #282828;
  color: #d3d3d3;
  webkit-tap-highlight-color: #222;
}

hr {
  max-width: 60%;
  border-width: 3px;
  opacity: 0.15;
  margin-top: 15px;
  margin-bottom: 15px;
}

hr.light {
  border-color: #fff;
}

a {
  color: #00DCFF;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

a:hover,
a:focus {
  color: #00FFFF;
  outline: 0;
  text-decoration: none;
  /*transform: scale(1.1,1.1);*/
  /* above line was for the gallery image zoom */
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Bitter','Helvetica Neue',Arial,sans-serif;
}

h1 {
  font-size: 6vmax;
}
h2 {
  font-size: 5vmax;
}
h3 {
  font-size: 4vmax;
}
h4 {
  font-size: 3.5vmax;
}
h5 {
  font-size: 3vmax;
}
h6 {
  font-size: 2.5vmax;
}

p {
  font-size: 2vmax;
}


p {
  line-height: 1.5;
  letter-spacing: .8px;
  margin-bottom: 20px;
}

.wide-space {
  letter-spacing: 1.6px;
}

.icon-med {
  font-size: 30px;
  line-height: 18px;
}
.icon-large {
  font-size: 50px;
  line-height: 18px;
}

.bg-primary {
  background-color: #00505f;
  padding: 70px 20px 20px;
  z-index: 100;

}

.bg-dark {
  color: #eee;
  background-color: #222;
}

.chunkyText {
  font-family: 'Bitter','Helvetica Neue',Arial,sans-serif;
  text-transform: none;
}

.splashTitle {
  position: relative;
  bottom: 0;
  -webkit-transition: 1s ease;
  -moz-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;
}
.splashTitle:hover {
  transform: scale(1.05,1.05);
}

.shadowMeBig {
  text-shadow: 0px 4px 2px rgba(0,0,0,0.6),
               0px 8px 10px rgba(0,0,0,0.2),
               0px 16px 20px rgba(0,0,0,0.2);
}
.shadowMe {
  text-shadow: 0px 2px 2px rgba(0,0,0,0.7),
               0px 2px 8px rgba(0,0,0,0.3);
}

.justifyPara {
    text-align: justify;
    text-justify: inter-word;
}

.text-faded {
  color: rgba(245,245,245,0.7);
}

.text-dark {
  color: #111;
}

.text-primary {
  color: #00DCFF;
}

.modal-content {
  background-color: #1d1d1d;
}
.modalInfo {
  padding: 10px;
}
/*about modal*/
modal-body {
  text-align: left;
}

.modalCloser {
  float: right;
  background-color: #2f2F2f;
  /*margin: -10px;*/
}

.modalName {
  /*clear: both;*/
}
.aboutParagraph {
  line-height: normal;
  letter-spacing: normal;
  margin-bottom: 20px;
  padding: 2%;
}

.headshot {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

section {
  padding: 70px 0;
}

.sectionOneAngle {
  height: 140px;
  margin-top: -70px;
  z-index: -1;
  background-color: #00505f;
  animation: skew 20s infinite;
}
@keyframes skew {
  0% {
    transform: skewY(-2.5deg);
  }
  50% {
    transform: skewY(2.5deg);
  }
  100% {
    transform: skewY(-2.5deg);
  }
}


.sectionThree {
  padding-bottom: 100px;
}


.techLogos{
  background-color: #eee;
  padding: 15px 20px 25px;
  border-radius: 60px;
}

.techLogos img {
  margin: 4px 6px 10px;
  border-radius: 4px;
}

aside {
  padding: 50px 0;
}

footer {
  padding: 15px;
}

.list-plain{
  display:inline;
  list-style: none; 
  text-decoration: none; 
  text-align: center;
  font-size: 1.2vmax;
}
.socialFooterStuff{
  font-size: 1.5vmax;
  padding: 0 15%;
  letter-spacing: normal;
  margin: -5px auto auto;
}

.aboutSocial {
  margin-right: auto;
  margin-left: auto;
  display:inline;
  list-style: none; 
  text-decoration: none; 
  text-align: center;

}

.no-padding {
  padding: 0;
}

/* NavBurger Background & DEFAULT TEXT*/
.navbar-default {
  border-color: rgba(30,30,30,.5);
  font-family: 'Bitter','Helvetica Neue',Arial,sans-serif;
  letter-spacing: 4px;
  background-color: rgba(30,30,30,.95);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
}

.navbar-header > .navbar-brand {
  font-family: 'Bitter','Helvetica Neue',Arial,sans-serif;
  color: #00DCFF;
  padding: 15px;
  -webkit-transition: padding .5s ease-in;
  -moz-transition: padding .5s ease-in;
  transition: padding .5s ease-in;
}

/* Navbar header color ON HOVER/FOCUS @768px wide */
.navbar-header > .navbar-brand:hover,
.navbar-header > .navbar-brand:focus {
  transition: .5s ease-in-out;
  color: #00B8D4;
}


/* NavBurger MENU ON FOCUS/HOVER */
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: rgba(65,65,65,.5);
}
/* NavBurger MENU REGULAR (outline of Burger & delineator) */
.navbar-default .navbar-toggle, .navbar-default .navbar-collapse {
  border-color: rgba(65,65,65,.95);
  /*border-color: transparent; "original" */
}


/* NavBurger MENU Text: REGULAR */
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: 700;
  color: #F06292;
}
/* NavBurger MENU Text: HOVER */
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  color: #E91E63;
}
/* NavBurger MENU Text: ACTIVE */
.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: white !important;
  background-color: transparent;
}
/* NavBurger MENU "ACTIVE BACKGROUND" (keep transparent or very translucent) */
.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover
{
  background-color: transparent;
  /*background-color: rgba(10,10,10,.5);*/
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~  NAV MEDIA QUERY 768px+  ~~~~~~~~~~~~~~~~~~~~~~~~~*/
@media(min-width:768px) {
  .navbar-default {
    border-color: transparent;
    /*background-color: transparent;*/ /*NAVBAR COLOR AT ENTRY*/
  background-color: rgba(10,10,10,.1);
    min-height: 60px;
  }

  /* BRANDING at "FULL SCREEN TOP" REGULAR */
  .navbar-header > .navbar-brand {
    color: rgba(255,255,255,.7);
    padding: 19px;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
  }

  /* BRANDING at "FULL SCREEN TOP" HOVER/FOCUS */
  .navbar-default .navbar-header .navbar-brand:hover,
  .navbar-default .navbar-header .navbar-brand:focus {
    color: #f4f4f4;
    transform: scale(1.05,1.05);
  }

  /* "NAV OPTIONS" at "FULL SCREEN TOP" REGULAR */
  .navbar-default .nav > li > a,
  .navbar-default .nav > li > a:focus {
    color: rgba(255,255,255,.7);
    padding: 19px 10px;
    letter-spacing: 1.1px;
    /*text-shadow: 1px 1px 1px rgba(10,10,10,0.7);*/
  }
  /* "NAV OPTIONS" at "FULL SCREEN TOP" HOVER/FOCUS */
  .navbar-default .nav > li > a:hover,
  .navbar-default .nav > li > a:focus:hover {
    color: rgba(255,255,255,.95);
  }
  
  /* NAV BACKGROUND at "FULL SCREEN SCROLLED" */
  .navbar-default.affix {
    border-color: rgba(34,34,34,.05);
    background-color: rgba(30,30,30,.95);
  }


  /* SCROLLED DOWN "BRAND" REGULAR */
  .navbar-default.affix .navbar-header .navbar-brand {
    font-size: 15px;
    color: #00DCFF;
    padding: 20px;
    letter-spacing: 1px;
  }
  /* SCROLLED DOWN "BRAND" HOVER/FOCUS */
  .navbar-default.affix .navbar-header .navbar-brand:hover,
  .navbar-default.affix .navbar-header .navbar-brand:focus {
    color: white;
  }

  /* SCROLLED DOWN "MENU" REGULAR */
  .navbar-default.affix .nav > li > a,
  .navbar-default.affix .nav > li > a:focus {
    color: #ddd;
    text-shadow: 1px 1px 1px rgba(30,30,30,0.7);
  }
  /* SCROLLED DOWN "MENU" HOVER/FOCUS */
  .navbar-default.affix .nav > li > a:hover,
  .navbar-default.affix .nav > li > a:focus:hover {
    color: #00DCFF;
  }
}


header {
  position: relative;
  min-height: auto;
  text-align: center;
  color: #fff;
  width: 100%;
  background-color: #c9c9c9;
  background-image: url('../images/IMG_5902_EDIT.jpg');
  /*background-image: url('../images/IMG_7255_EDIT.jpg');*/
  /*background-image: url('../images/AllGood.jpg');*/
  background-position: left;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  -webkit-filter:saturate(.5);
  box-shadow: 0 0px 10px 0px rgba(0,0,0,0.5), 
              0 4px 40px 5px rgba(0,0,0,0.5);
}

header .header-content {
  position: relative;
  width: 100%;
  padding: 100px 15px;
  text-align: center;
  z-index: 2;
}

header .header-content .inner h1 {
  margin-top: 0;
  margin-bottom: 0;
}

header .header-content .inner p {
  margin-bottom: 50px;
  font-size: 16px;
  font-weight: 300;
  color: rgba(255,255,255,0.7);
}

footer {
  /*background-color:#2d2d2d;*/
  background-color: rgba(30,30,30,0.7);
  text-align: center;
}

.gitStuff {
  text-align: center;
  
  padding: 2%;
}
.github {
  margin-top: -30px;
}
.githubStuff{
  text-align: left;
  
}


/*~~~~~~~~~~~~~~~~~~~~~~~~  HEADER MEDIA QUERY 768px+  ~~~~~~~~~~~~~~~~~~~~~~~~*/
@media(min-width:768px) {
  header {
    min-height: 100%;
  }

  header .header-content {
    position: absolute;
    top: 50%;
    padding: 0 50px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  header .header-content .inner {
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
  }

  header .header-content .inner p {
    margin-right: auto;
    margin-left: auto;
    max-width: 80%;
    font-size: 18px;
  }
  
  section {
    min-height: 600px;
    padding: 100px 0;
  }
}


.form-control {
  display: block;
  width: 100%;
  height: 35px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.5;
  color: #eee;
  background-color: #36333d;
  background-image: none;
  border: 1px solid #36333d;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
  color: #222;
  background-color: #ccc;
  box-shadow: none;
}

textarea {
  resize: none;
}

.margin-top-0 {
  margin-top: 0;
}

.feature {
  margin: 50px auto 0;
  max-width: 400px;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~  FEATURE MEDIA QUERY 992px+  ~~~~~~~~~~~~~~~~~~~~~~~~~*/
@media(min-width:992px) {
  .feature {
    margin: 20px auto 0;
  }
}


.feature p {
    margin-bottom: 0;
}

.call-to-action h2 {
    margin: 0 auto 20px;
}

.gallery-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
    overflow: hidden;
}

.gallery-box .gallery-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(44,44,44,.8);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

.gallery-box .gallery-box-caption .gallery-box-content {
    position: absolute;
    top: 50%;
    width: 100%;
    padding: 30px;
    text-align: center;
    transform: translateY(-50%);
}

.gallery-box:hover .gallery-box-caption {
    opacity: 1;
}

.gallery-box:hover img {
    -webkit-transform: scale(.90,.90);
    -ms-transform: scale(.90,.90);
    transform: scale(.90,.90);
    -webkit-filter: saturate(2) blur(10px)
}

.gallery-box img {
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.btn-default {
    border-color: #fff;
    color: #222;
    background-color: #fff;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    border-color: #ededed;
    color: #222;
    background-color: #f2f2f2;
    opacity: 0.7;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled, .btn-default[disabled], fieldset[disabled] .btn-default,
.btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, 
.btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus, .btn-default[disabled].focus, fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active, .btn-default[disabled]:active, fieldset[disabled] .btn-default:active,
.btn-default.disabled.active, .btn-default[disabled].active, fieldset[disabled] .btn-default.active {
    border-color: #fff;
    background-color: #fff;
    opacity: 0.7;
}

.btn-default .badge {
    color: #fff;
    background-color: #222;
}

.btn.btn-primary {
    background-color: rgba(100,100,100,.5);
    padding: 5px 40px;
    color: rgba(240,240,240,1);
    /*border:1px solid #f0f0f0;*/
    /*border-color:#f0f0f0;*/
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

.btn.btn-primary:hover {
    opacity: 0.7;
}

.btn {
    border: 0;
    border-radius: 290px;
    font-family: 'Helvetica Neue',Arial,sans-serif;
}

.btn-xl {
    padding: 5px 40px;
    color: rgba(240,240,240,1);
    background-color: rgba(100,100,100,.5);
    font-size: 2.5vmax;
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  FEATURETTES  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.featurette-divider {
  margin: 30px auto; /* Space out the Bootstrap <hr> more */
}
.featurette {
  padding-top: 10px; /* Vertically center images part 1: add padding above and below text. */
  overflow: hidden; /* Vertically center images part 2: clear their floats. */
}

.round1Right {
  width: 15rem;
  height: 15rem;
  margin-top: 30px;
}
.round2Right {
  width: 15rem;
  height: 15rem;
  overflow: hidden;
  border-radius: 1000px;
  shape-outside: circle(50%);
  margin-top: 30px;
  float: left!important;
}
.round3Right {
  width: 15rem;
  height: 15rem;
  overflow: hidden;
  margin-top: 30px;
  float: left!important;
}
.round2Left {
  width: 15rem;
  height: 15rem;
  margin-top: 30px;
  float: right!important;
}

.featurette-image2 {
  width: auto;
  /*margin-left: -50%;*/
  height: 100%;
}

/* for circular image needs*/
.featurette-image {
  width: auto;
  margin-left: -27%;
  height: 100%;
}


/* Thin out the marketing headings */
.featurette-heading {
  margin-left: 5%;
  font-weight: 300;
  line-height: 1.1;
}
.featRight{
  shape-outside: circle(50%);
  text-align: center;
}
.featLeft{
  shape-outside: circle(50%);
  text-align: center;
}


p.lead {
  text-align: justify;
  text-justify: inter-word; 
  margin: 0 5% 10px;
}

.classImage {
  margin: 20px 0;
  border-radius: 10px;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~  NAV MEDIA QUERY 720px-  ~~~~~~~~~~~~~~~~~~~~~~~~~*/

@media(max-width:720px) {
  .featurette-heading {
    margin-left: 0;
    /*display: inline-block;*/
  }
  .round2Right {
  shape-outside: none;
  }
  .smartphoneFix {
    margin: auto;
    float: none!important;
    /*float: none;*/
  }
}
